@charset "utf-8";

* { 
    /*-webkit-user-select: none; */
   -webkit-tap-highlight-color: rgba(0,0,0,0);   
}

body {
   margin: 0;
   padding: 0;
   color: #555;
   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.625;
   overflow: hidden;
   background-color: rgba(62, 0, 62, 1); 
}

#title {
  margin-top: 20px;
  margin-left: 550px;
}

#rosie-code {
   margin-top: 0px;
   margin-left: 200px;
   margin-right: auto;
   width: 1000px;
   height: 1000px;
   /*border: 1px solid black;*/
   background-color: white; 
}


#rosie-output {
   position: absolute;
   left: 1110px;
   top: 78px;
   width: 600px;
   height: 920px;
   background: url("images/room.png");
   
}

.rosie {
  z-index:2;
  position: absolute;
  left: 1110px;
  top: 88px;
  width: 600px;
  height: 900px;
   
   
}

.level-text {
   background-color: white;
   width: 888px;
   padding: 5px;
   text-decoration: none;
   font-family: tahoma, arial, sans-serif;
   font-size: 19px;
   color: purple;
   margin-top: 10px;
   margin-left: 200px;
   border: 2px solid white;
}

.level-text p {
  color: black;
  text-decoration: underline;
  display: inline;
}

.preview {
  font-family: tahoma, arial, sans-serif;
   font-size: 29px;
  text-align: center;
  z-index: 2147483647;
  visibility : hidden;
  position: absolute;
  left: 1370px;
  top: 280px;
  color: purple;
}

#level-h {
  text-decoration: underline;
  font-weight:bold;
}
A:link {text-decoration: none; color: grey;}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: rgba(102, 0, 102, .6);}



#rosie-toolbar {
   background-color: rgba(255, 192, 203, 1); 
   border-radius: 15px;
   border: 2px solid;
   border-color:  rgba(102, 0, 102, .6);
   position: absolute;
   top: 930px;
   left: 600px;
   text-align: center;
   padding: 2px;
   width: 140px;
   z-index: 2147483647;
}


button {
   outline: none;
   border: none;
   width: 135px;
   height: 35px;
   border-radius: 2px;
   margin-left: 0px;
   margin-right: 0px;
   display: inline-block;
}

#play-button { background: url("images/showbuttonW.png")  0 no-repeat; background-position: 5px 5px; }
#play-button:active { background-position: 8px 8px; }


.background {
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 100;
  z-index: 1;
  visibility : hidden;
  
}

.top {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 100;
   z-index: 3;
   visibility : hidden;
   left: 1110px;
   top: 88px;
  
}


.bottom {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 100;
   z-index: 3;
   visibility : hidden;
   left: 1110px;
   top: 88px;
}


.shoes {
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 100;
  z-index: 3;
  visibility : hidden;
  left: 1110px;
  top: 88px;
}


.hair {
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 100;
  z-index: 3;
  visibility : hidden;
  left: 1110px;
  top: 88px;
  
}

.hint {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 0;
   z-index: -1;
}

#hint1 {
   left: 350px;
   top: 280px;
}

#hint2 {
   left: 600px;
   top: 680px;
}

#repeat_hint {
  background-color: rgba(146, 166, 92, 0.5); 
  border-radius: 15px;
  border: 2px solid;
  border-color:  rgba(127, 144, 81, .6);
  text-align: center;
  padding: 2px;
  width: 150px;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
}

#repeat_hint p{
  font-weight:bold;
  display: inline;
}

#remaining_hint {
  left: 850px;
  top: 200px;
  background-color: rgba(146, 166, 92, 0.5); 
  border-radius: 15px;
  border: 2px solid;
  border-color:  rgba(127, 144, 81, .6);
  text-align: center;
  padding: 2px;
  width: 200px;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
}

#remaining_hint p{
  font-weight:bold;
  color: red;
}